.navbarbg {
  height: 55px;
  background-color: white;
}

input.searche {
  height: 36px;
  max-width: 500px;
  background-color: #eef3f8;
  border: 0;
}

input.searche::placeholder {
  font-size: 14px;
  color: gray;
  background-image: url(/bootstraplinkedinclone/assets/search-solid.svg);
  background-repeat: no-repeat;
  background-size: 7%;
}

.body {
  background-color: #f3f2ef;
}

.menutext {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  margin-top: 5px;
  font-weight: lighter;
}

.menutext:hover {
  color: black;
}

button.mediatext {
  color: #5f5f5f;
}

button.mediatext:hover {
  color: #5f5f5f;
}

.mediatext {
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f5f5f;
}

i {
  color: gray;
  margin-top: 8px;
}

i:hover {
  color: black;
}

input.content {
  border-radius: 40px;
  height: 45px;
}

input.content::placeholder {
  font-weight: bolder;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/bootstraplinkedinclone/assets/edit-regular.svg);
  background-repeat: no-repeat;
  background-size: auto;
}

div.card {
  border-radius: 10px;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

.view {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #5f5f5f;
}

.categories {
  font-size: 13px;
  font-weight: bold;
  color: #0a66c2;
}

li {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.link {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #5f5f5f;
}

button.ref {
  color: white;
}

button.ref:hover {
  color: #5f5f5f;
}

.postphoto {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.posttext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-left: 8px;
}

.nav-fixed {
  position: sticky;
}

.search-solid {
  font-size: 14px;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 10px;
}

.center {
  text-align: center;
}

#new-post {
  background-color: white;
  color: grey;
  border-color: grey;
}

#new-post:hover {
  background-color: rgb(235, 231, 231);
}

.nps {
  font-size: 12px;
}

.post-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  color: #474747;
}

.post-exp {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: black;
}

.new {
  font-size: 13px;
  color: #5f5f5f;
}

.new-i {
  font-size: 13px;
  font-weight: bold;
}

.follow-add-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.follow-name {
  font-size: 14px;
}

.hit {
  font-weight: lighter;
  font-size: 13px;
  color: #5f5f5f;
}

.nav-menu-mt-12 {
  margin-top: 12px;
}